{% load static %}


<body style="background-image: url('{% static "images/default-page.jpg" %}');">
<main>

    <div class="delete-profile">
        <h1 class="delete-h1">
            Are you sure you want to delete?
        </h1>
        <form method="post" action="{{ delete_action }}">
            {% csrf_token %}
            <div class="sure-buttons">
                <button>Yes</button>
                <a class="edit-btn" href="javascript:history.back()">Go Back</a>
            </div>
        </form>
    </div>

</main>
</body>
