{% extends 'base/base.html' %}
{% load custom_filters %}

{% load static %}

{% block content %}
    <body style="background-image: url('{% static "images/default-page.jpg" %}');">
    <main>
        <div class="login-register-container">
            <div class="login-register-box">
                <h1 class="register-h1">Register</h1>

                <form method='post' action="{% url 'register user' %}">

                    {% csrf_token %}

                    {{ form.username.errors }}
                    {{ form.email.errors }}
                    {{ form.password1.errors }}
                    {{ form.password2.errors }}
                    {{ form.is_visitor.errors }}

                    {{ form.username|placeholder:'Username' }}
                    {{ form.email|placeholder:'Email' }}
                    {{ form.password1|placeholder:'Password' }}
                    {{ form.password2|placeholder:'Repeat password' }}

                    <div class="is-visitor-field">
                        {{ form.is_visitor.label_tag }}
                        {{ form.is_visitor }}
                    </div>

                    <button type="submit">Register</button>
                </form>

            </div>
            <div class="another-choice">
                <p>Have an account? <a href="{% url 'login user' %}">Log in</a></p>
            </div>
        </div>

    </main>
    </body>
{% endblock %}