{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <body style="background-image: url('{% static "images/default-page.jpg" %}');">
    <main>

        <h1 class="prof-details-h1">Profile details of {{ object.username }}</h1>
        <div class="profile-details-container">

            <section class="personal-information">
                <div class="user-information">
                    <div class="image">
                        {% if not object.profile_picture %}
                            <img src="{% static 'images/default-avatar.jpg' %}" alt="img8">
                        {% else %}
                            <img src="{{ object.profile_picture }}" alt="img8">
                        {% endif %}
                    </div>
                    {% if object.gender == 'Male' %}
                        <div class="data-male">
                    {% else %}
                        <div class="data-female">
                        {% endif %}


                        <p><img src="{% static 'images/name.png' %}" alt="name"> {{ object.full_name }}</p>

                        <p><img src="{% static 'images/email.png' %}" alt="email"> {{ object.email }}</p>
                        {% if object.gender %}
                            <p><img src="{% static 'images/gender.png' %}" alt="gender"> {{ object.gender }}</p>
                        {% endif %}

                    <div class="owner-anchors">
                        {% if is_owner %}
                            <a href="{% url 'add kid' object.pk  %}" title="Add kid">
                                <img class="add-kid" src="{% static 'images/children (1).png' %}" alt="add">
                            </a>
                            <a href="{% url 'edit profile' object.pk %}" title="Edit profile">
                                <img class="edit" src="{% static 'images/edit (1).png' %}" alt="edit">
                            </a>

                            <a href="{% url 'delete profile' object.pk %}" title="Delete profile">
                                <img class="delete" src="{% static 'images/delete (1).png' %}" alt="delete">
                            </a>
                        {% endif %}
                    </div>
                    </div>


            </section>
        </div>
        <h2 class="prof-details-h2">Kids and Drawings</h2>
        <div class="user-kids-drawings">
            <section class="kids-drawings">
                <div class="kid-drawing-card">
                    <h3><a href="#"> Goshko </a> </h3>
                    <div class="kid-drawing"><img src="{% static 'images/child-drawing_custom-1fe8bd0f68eb05c8781bdb2a4d894c8653be0ae0-s1100-c50.jpg' %}" alt=""></div>
                    <a href="#">
                        <h4>See details</h4>
                    </a>
                </div>
                <div class="kid-drawing-card">
                    <h3><a href="#"> Goshko </a> </h3>
                    <div class="kid-drawing"><img src="{% static 'images/child-drawing_custom-1fe8bd0f68eb05c8781bdb2a4d894c8653be0ae0-s1100-c50.jpg' %}" alt=""></div>
                    <a href="#">
                        <h4>See details</h4>
                    </a>
                </div>
                <div class="kid-drawing-card">
                    <h3><a href="#"> Goshko </a> </h3>
                    <div class="kid-drawing"><img src="{% static 'images/child-drawing_custom-1fe8bd0f68eb05c8781bdb2a4d894c8653be0ae0-s1100-c50.jpg' %}" alt=""></div>
                    <a href="#">
                        <h4>See details</h4>
                    </a>
                </div>
                <div class="kid-drawing-card">
                    <h3><a href="#"> Goshko </a> </h3>
                    <div class="kid-drawing"><img src="{% static 'images/child-drawing_custom-1fe8bd0f68eb05c8781bdb2a4d894c8653be0ae0-s1100-c50.jpg' %}" alt=""></div>
                    <a href="#">
                        <h4>See details</h4>
                    </a>
                </div>
                <div class="kid-drawing-card">
                    <h3><a href="#"> Goshko </a> </h3>
                    <div class="kid-drawing"><img src="{% static 'images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg' %}" alt=""></div>
                    <a href="#">
                        <h4>See details</h4>
                    </a>
                </div>
            </section>
        </div>
    </main>
    </body>
{% endblock %}