{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <body style="background-image: url('{% static "images/default-page.jpg" %}');">
    <main>
        <h1 class="prof-details-h1">Profile details of {{ object.username }}</h1>

        <div class="profile-details-container">
            <section class="personal-information">
                <div class="user-information-outer">
                    <div class="user-information">
                        <div class="image">
                            {% if not object.profile_picture %}
                                <img src="{% static 'images/default-avatar.jpg' %}" alt="img8">
                            {% else %}
                                <img src="{{ object.profile_picture }}" alt="img8">
                            {% endif %}
                        </div>
                        {% if object.gender == 'Female' %}
                            <div class="data-female">
                        {% elif object.gender == 'Male' %}
                            <div class="data-male">
                        {% else %}
                            <div class="data-not-gender">
                        {% endif %}


                        <p><img src="{% static 'images/name.png' %}" alt="name" title="Name"> {{ object.full_name }}</p>
                        {% if object.is_superuser %}
                            <p><img src="{% static 'images/profile-status.png' %}" alt="name" title="Profile permissions"> Superuser</p>
                        {% elif object.is_staff and not object.is_superuser %}
                            <p><img src="{% static 'images/profile-status.png' %}" alt="name" title="Profile permissions"> Staff User</p>
                        {% else %}
                            <p><img src="{% static 'images/profile-status.png' %}" alt="name" title="Profile permissions"> Regular User</p>
                        {% endif %}
                        <p><img src="{% static 'images/email.png' %}" alt="email" title="Email"> {{ object.email }}</p>
                        {% if object.gender %}
                            <p><img src="{% static 'images/gender.png' %}" alt="gender" title="Gender"> {{ object.gender }}</p>
                        {% endif %}


                        <div class="owner-anchors">
                            {% if is_owner|is_staff_or:request.user %}
                                {% if not object.is_visitor %}
                                    <a href="{% url 'add kid' %}" title="Add kid">
                                        <img class="add-kid" src="{% static 'images/children (1).png' %}" alt="add">
                                    </a>
                                {% endif %}
                                <a href="{% url 'edit profile' object.pk %}" title="Edit profile">
                                    <img class="edit" src="{% static 'images/edit (1).png' %}" alt="edit">
                                </a>

                                <a href="{% url 'delete profile' object.pk %}" title="Delete profile">
                                    <img class="delete" src="{% static 'images/delete (1).png' %}" alt="delete">
                                </a>
                            {% endif %}
                        </div>
                        </div>

            </section>

        </div>

        {% if not object.is_visitor %}
            <form class="form-filter-kids" method="get">
                {{ form }}

            </form>
            {% if filtered_kid %}
                <div class="filtered-kids-container">
                    <a href="{% url 'details kid' request.user.pk filtered_kid.slug %}">
                        <img src="{{ filtered_kid.personal_photo }}" alt="">
                    </a>
                    <h3><a href="{% url 'details kid' request.user.pk filtered_kid.slug %}">{{ filtered_kid.name }}</a>
                    </h3>
                </div>
                {#            {% else %}#}

            {% endif %}
            <div class="kid-link"></div>
            <h2 class="prof-details-h2">Kids and Drawings</h2>
            <div class="user-kids-drawings">
                {% if all_drawings %}
                    <section class="kids-drawings">

                        {% for drawing in all_drawings %}
                            <div class="kid-drawing-card">
                                <h3>
                                    <a href="{% url 'details kid' drawing.kid_owner_drawing.user_id drawing.kid_owner_drawing.slug %}"> {{ drawing.kid_owner_drawing.name }} </a>
                                </h3>
                                <div class="kid-drawing"><a href="{% url 'details drawing' drawing.id %}"><img
                                        src="{{ drawing.drawing.url }}" alt=""></a>
                                </div>

                            </div>
                        {% endfor %}
                    </section>
                {% else %}
                    <div class="no-posts-yet">
                        <img src="{% static 'images/not-found.png' %}" alt="">
                        <p>No drawings yet...</p>
                    </div>
                {% endif %}


            </div>
        {% endif %}
    {% include 'partials/back-btn.html' %}
    </main>
    </body>
{% endblock %}