{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <body style="background-image: url('{% static "images/index.jpg" %}');">
    <main>
        <div class="text-typing">
            <h1 class="text-typing">THE WORLD OF KIDS DRAWINGS</h1>
        </div>
        <div class="searchbar-container">
            <form class="searchbar" method="get">

                {% csrf_token %}
                {{ search_form.drawings_of_searched_kid }}

                <button type="submit">
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
        </div>

        {% if not drawings %}
            {% if kid_added %}
                <div class="no-posts-yet">
                    <img src="{% static 'images/not-found.png' %}" alt="">
                    <p>This kid doesn't have any drawings yet...</p>
                    {% include 'partials/back-btn.html' %}
                </div>
            {% else %}
                <div class="no-posts-yet">
                    <img src="{% static 'images/kid_not_found.png' %}" alt="">
                    <p>No drawings found...</p>
                    {% include 'partials/back-btn.html' %}
                </div>
            {% endif %}
        {% else %}
            <div class="container-drawings">

                {% for drawing in drawings %}
                    <div class="card">
                        <div class="top">
                            <div class="user-details">

                                <div class="user-name"><a href="{% url 'details profile' pk=drawing.user.pk %}">
                                    {% if drawing.user.profile_picture %}
                                        <img src="{{ drawing.user.profile_picture }}" alt="">
                                    {% else %}
                                        <img src="{% static 'images/default-avatar.jpg' %}" alt="">
                                    {% endif %}
                                </a>
                                    <h3>
                                        <a href="{% url 'details profile' pk=drawing.user.pk %}">{{ drawing.user.full_name }}</a>
                                    </h3>
                                </div>

                            </div>

                        </div>
                        <div class="content">
                            <img src="{{ drawing.drawing.url }}"
                                 alt="">
                        </div>
                        <div class="bottom">
                            <div class="like">
                                <a href="{% url 'like functionality' drawing.id %}">
                                    {% if drawing.id in liked_drawings_by_user %}
                                        <img src="{% static 'images/like.png' %}" alt="">
                                    {% else %}
                                        <img src="{% static 'images/like-transparent.png' %}" alt="">
                                    {% endif %}


                                </a>
                                <p>{{ drawing.like_set.count }} likes</p>
                            </div>
                            <a href="{% url 'details kid' drawing.user_id drawing.kid_owner_drawing.slug %}"
                               class="kid-owner">
                                <p>{{ drawing.kid_owner_drawing.name }}</p>
                            </a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'details drawing' drawing.pk %}">
                                    <h4>See details</h4>
                                </a>
                            {% endif %}
                            <p>{{ drawing.date_of_publication }}</p>

                        </div>
                    </div>

                {% endfor %}

            </div>

            <div class="pagination">
    <span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page=1&drawings_of_searched_kid={{ request.GET.drawings_of_searched_kid }}">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}&drawings_of_searched_kid={{ request.GET.drawings_of_searched_kid }}">previous</a>
    {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&drawings_of_searched_kid={{ request.GET.drawings_of_searched_kid }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&drawings_of_searched_kid={{ request.GET.drawings_of_searched_kid }}">last &raquo;</a>
        {% endif %}

        <a href="{% url 'leaderboard page' %}" class="leaderboard">Leaderboard</a>

    </span>
            </div>
        {% endif %}
    </main>

    </body>

{% endblock %}


