<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our Platform - New Login</title>
</head>
<body>
<header class="greeting-header-container">



        <h1 style="text-align: center; margin-bottom: 60px">Welcome to World of kid's drawings</h1>


</header>

<main>

    <p>Dear {{ user.full_name }},</p>
    <br>
    <p>We hope this email finds you well. We're excited to extend a warm welcome to you as you log in to our platform
        for the first time. Your presence means a lot to us, and we're thrilled to have you on board!</p>

    <p>Here at <strong>World of kid's drawings</strong>, we've created a space where you can <em>store your kid's
        drawings</em>.

    <p>Thank you for choosing <strong>World of kid's drawings</strong>! We're committed to providing you with a
        top-notch experience, and we can't wait to see how you make the most of our platform.</p>
    <br>
    <p>Once again, welcome aboard!</p>
</main>
<br>
<br>
<footer style="">

    <p>Best regards,
        <br>
        <br>
        <em>World of kid's drawings team</em><br>
    </p>
    <img src="https://banner2.cleanpng.com/20180403/rkw/kisspng-computer-icons-clip-art-kids-5ac315aacd7842.0238803215227345068416.jpg"
             alt="logo" style="height: 100px; width: 140px">
</footer>
</body>
</html>