.prof-details-h1 {

    font-size: 36px;
    margin-bottom: 40px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    align-self: center;
    width: 250px;
}

.user-information-outer {
    display: inline-block;
    padding: 2px;
    border-radius: 6px;
    background: linear-gradient(45deg, #e36c8f, #6f4380, #1dac90);
}

.user-information {
    display: flex;
    background-image: url("../images/default-page(1).png");
    justify-content: center;
    gap: 100px;
    background-color: #ededed;
    padding: 10px;
    border-radius: 6px;
}

.image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.3);
}

.data-male {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    color: #1e6798;
    font-weight: bold;
}

.data-female {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    color: #c83c65;
    font-weight: bold;
}

.data-not-gender {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    color: dimgray;
    font-weight: bold;
}

.data-kids {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    color: #647165;
    font-weight: bold;
}

.data-kids p a {
    color: #647165;
}

.data-kids p a:visited {
    color: #647165;
}

.owner-anchors {
    display: flex;
    justify-content: space-around;
    gap: 18px;
    margin-top: 5px;
    border-top: 2px dashed gray;
    padding-top: 5px;

}

.owner-anchors a {
    border: 2px solid gray;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 2px 6px;
}

.owner-anchors a img {
    width: 26px;
}

.owner-anchors a:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.prof-details-h2 {
    margin: 60px 0 50px 0;
    background: linear-gradient(45deg, #e36c8f, #6f4380, #1dac90); /* Adjust gradient colors */
    -webkit-background-clip: text; /* Apply the gradient to the text content */
    color: transparent; /* Make the text transparent to show the gradient */

}

.kids-drawings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 20px;
}

.kid-drawing img {
    width: 320px;
    height: 100%;
    overflow: hidden;
    background-color: white;
}


.kid-drawing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid gray;
    box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.3);
    border-radius: 6px;
    overflow: hidden;
    background: linear-gradient(45deg, #e36c8f, #6f4380, #1dac90);

}

.kid-drawing-card h3 {
    margin: 20px auto 0 auto;
}

.kid-drawing {
    height: 100%;
    object-fit: cover;
}

.kid-drawing-card:hover {
    box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.5);
    z-index: 1;
    scale: 1.4;
    transition: 0.4s;
}

.kid-drawing-card a:link {
    color: #e6e6e6;
}

.kid-drawing-card a:visited {
    color: #e6e6e6;
}

.kid-drawing-card a {
    color: #1dac90;
}


.form-filter-kids {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-filter-kids label {
    font-size: 18px;
    color: #6f4380;
    margin-right: 10px;
}

.form-filter-kids select {
    width: auto;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-filter-kids select:hover {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
}



.filtered-kids-container{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.filtered-kids-container img{
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
.filtered-kids-container h3 a:link{
    color: dimgray;
}
.filtered-kids-container h3 a:visited{
    color: dimgray;
}




