.prof-details-h1{
     color: #6f4380
}
 .profile-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
 .image{
     align-self: center;
     width: 250px;
}
 /*.image:hover{*/
 /*    width: 270px;*/
 /*}*/
 .user-information{
     display: flex;
     justify-content: center;
     margin-top: 40px;
     gap: 100px;
}
 .image img{
     width: 100%;
     border-radius: 8px;
     box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.3);
}

 .data-male{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     font-size: 20px;
     color: #2f82b9;
     font-weight: bold;
}
 .data-female{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     font-size: 20px;
     color: deeppink;
     font-weight: bold;
}
 .owner-anchors{
     display: flex;
     gap: 18px;
     margin-top: 20px;
}
 .owner-anchors a{
     /*border: 2px solid gray;*/
     /*box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.3);*/
     /*border-radius: 6px;*/
     padding: 2px 6px;
 }
  .owner-anchors a img{
      width: 26px;
  }
 /*.owner-anchors a:hover{*/
 /*    box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.5);*/
 /*}*/
 .prof-details-h2{
     margin-top: 60px;
     color: #6f4380;
}
 .kids-drawings{
     margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 30px;
}
 .kid-drawing img{
     width: 360px;
}
 .kid-drawing-card{
     padding: 16px 0 12px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 16px;
     border: 1px solid gray;
     box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.3);
     border-radius: 6px;
     background-color: white;
}
 .kid-drawing-card:hover{
     box-shadow: 4px 4px 4px 6px rgba(2, 2, 2, 0.5);
}
 .kid-drawing-card a:active{
     color: #1dac90;
}
 .kid-drawing-card a:visited{
     color: #1dac90;
}
 .kid-drawing-card a{
     color: #1dac90;
}
