@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-image: url("../images/index.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* justify-content: center; Center horizontally */
    align-items: center;
    /* Center vertically */
    /* min-height: 100vh; */
    /* Optionally set a minimum height to make sure the container is centered even if it has little content */
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}

.nav-group {
    display: flex;
    gap: 50px;
    font-size: 1.4em;
    list-style: none;
}

.nav-item {
    font-weight: bold;
}

.nav-group a {
    /*text-decoration: none;*/
}

.nav-item:nth-child(1) a i{
    color: #1dac90;
}

.nav-item:nth-child(2) a i {
    color: #fdc473;
}

.nav-item:nth-child(3) a i {
    color: #6f4380;
}

.nav-item:nth-child(4) a i {
    color: #e36c8f;
}

.nav-item:nth-child(5) a i {
    color: #fdc473;
}

.text-typing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color: #6f4380;
    margin-bottom: 8px;
    /*margin-top: 16px;*/
}

.text-typing h1 {
    white-space: nowrap;
    /*margin-bottom: 30px;*/
    overflow: hidden;
    animation: typing 4s steps(22, end) forwards,
        blink 1s;

}
.text-typing h4 {
    white-space: nowrap;
    margin-bottom: 30px;
    overflow: hidden;
    color: #e36c8f;
    animation: typing 4s steps(22, end) forwards,
        blink 1s;

}

@keyframes typing {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@keyframes blink {

    0%,
    100% {
        border-right: 2px solid transparent;
    }

    50% {
        border-right: 2px solid #222;
    }
}



/* CARD-----------------------  */


.user-name {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

}
.user-details span{
    font-size: 10px;
}
.user-name h3 a{

    color: #6f4380;
}
.user-name img {
    height: 30px;
    border-radius: 50%;
}

.container-drawings {
    width: 750px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 8px;

}



.card {
    display: flex;
    width: 210px;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
}

.content {
    overflow: hidden;
}

.content img {
    width: 100%;
    height:125px;
    overflow: hidden;
    display: block;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
}



.top{
    padding: 6px;

}

.bottom a{
    color: gray;

}
.kid-owner p{
    color: #1dac90;
    font-weight: bold;
    margin: 6px 0;
}



/*SEARCHBAR*/
.searchbar-container{
    margin-bottom: 28px;
}
.searchbar input{
    background-color: #fafafa;
    padding: 5px 5px 5px 0;
    text-indent: 21px;
    /*outline: none;*/
    border: 1px solid rgb(218, 217, 217);
    border-radius: 2px;
    color: rgb(77, 77, 77);
    width: 300px; /* Adjust the width as needed */
    display: inline-block; /* Set display to inline-block */
    vertical-align: middle;
}


.searchbar button {
    display: inline-block; /* Set display to inline-block */
    vertical-align: middle; /* Align the button vertically with the input */
    /*margin-left: 10px; !* Add some space between the input and the button *!*/
    border: 1px solid rgb(218, 217, 217);
    border-radius: 2px;
    background-color: #fafafa;
    padding: 2px;
    cursor: pointer;
}
.searchbar label {
    display: none;
}

.footer {
    text-align: center;
    margin: 20px;
}

/*.footer .footer-section {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    font-size: 12px;*/
/*    font-family: sans-serif;*/
/*    z-index: -2;*/
/*}*/