.not-found{
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.not-found img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.error-heading{
    text-align: center;
    color: #545353;
}