.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 40px auto;
    width: 60%;
    height: 50vh;
    overflow: hidden;
}

.not-found img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.error-heading {
    text-align: center;
    color: #545353;
}