{% extends 'base/base.html' %}
{% load custom_filters %}

{% load static %}

{% block content %}
    <body style="background-image: url('{% static "images/default-page.jpg"%}');">
    <main>

        <div class="login-register-container">
            <div class="login-register-box">
                <h1>Add kid</h1>

                <form method='post' action="{% url 'add kid' %}">

                    {% csrf_token %}

                    {{ form.name.errors }}
                    {{ form.personal_photo.errors }}
                    {{ form.date_of_birth.errors }}

                    {{ form.name|placeholder:'Kid name' }}
                    {{ form.personal_photo|placeholder:'Kid photo' }}
<input type="date" name="{{ form.date_of_birth.name }}" id="{{ form.date_of_birth.id_for_label }}"
           value="{{ form.date_of_birth.value|default_if_none:'' }}" placeholder="Date of birth">{#<input type="date" >#}

                    <button type="submit">Add kid</button>
                </form>

            </div>
        </div>

    </main>
</body>
{% endblock %}